{% extends 'finances/base.html' %}
{% block title %}Home{% endblock %}

{% block body %}

<h3>Despesas por categoria - {{current_month}}/{{current_year}}</h3>

{% if entries_by_category %}
    <h3>{{entries_by_category.items}}</h3>
    {% for key, values in entries_by_category.items %}    
        <ul>
            <li>{{key}}
                <ul> 
                    {% for value in values %}
                        <li>{{value.0}} - {{value.1}} - R$ {{value.2}} </li>
                    {% endfor %}
                    <!--{% for v in values.1 %}
                        <li>{{v}}</li>
                    {% endfor %} -->
                </ul>
            </li>
        </ul>
    {% endfor %}
{% endif %}
{% endblock %}
