{% extends 'finances/base_anonymous.html' %}
{% block title %}Home{% endblock %}

{% block body %}

<a href="{% url 'finances:logout_user' %}">
    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
</a>

<form class="form-horizontal" role="form" action="{% url 'finances:list_entry'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_month">
            Month:
        </label>
        <div class="col-sm-10">
                <select name="month" id="month">
                    {% for month in months %}
                        <option value="{{month.0}}"
                        {% if month.0 == current_month%}selected="selected"{% endif %}>{{month.1}}</option>
                    {% endfor %}
                </select>
            </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_year">
            Year:
        </label>
        <select name="year" id="year">
            {% for year in years %}
                <option value="{{year}}"
                {% if year == current_year%}selected="selected"{% endif %}>{{year}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Filtrar</button>
        </div>
    </div>

</form>
{% if incomes %}
<h3>Incomes R$ {{total_incomes}}</h3>
<ul>
    {% for income in incomes %}
    <li><a href = "/finances/{{income.id}}/">{{income.category.description}}: {{income.description}} R$ {{income.amount}}</a></li>
    <form action="{% url 'finances:delete_entry' income.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="income_id" value="{{ income.id }}" />
        <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash">Delete</span>
        </button>
    </form>
    {% endfor %}
</ul>
{% else %}
<h3> You don't have any incomes </h3>
{% endif %}

{% if expenses %}
<h3>Expenses R${{total_expenses}}</h3>
<ul>
    {% for expense in expenses %}
    <li><a href = "/finances/{{expense.id}}/">{{expense.category.description}}: {{expense.description}} R$ {{expense.amount}}</a></li>
    <form action="{% url 'finances:delete_entry' expense.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="expense_id" value="{{ expense.id }}" />
        <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash">Delete</span>
        </button>
    </form>
    {% endfor %}
</ul>
{% else %}
<h3> You don't have any expenses </h3>
{% endif %}

{% endblock %}
